.desserts{
    position: relative;
}

.dessert_derretido{
    width: 100%;
    height: 150px;
    position: absolute;
    top: -5.2rem;
}

.dessert_octagono{
    clip-path: ellipse(33% 16% at 50% 50%);
    width: 35%;
    height: 280px;
    background-color:  var(--lila);
    position: absolute;
    left: 32.5%;
    top: -6rem;
}

.dessert_titulo{
    color: white;
    position: absolute;
    top: -.2rem;
    left: 41%;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

.dessert_tartas{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
}

.dessert_cuadro_agregar{
    width: 30%;
    height: 350px;
    left: 10%;
    top: 30%;
    /* background-color:#C09879; */
    position: absolute;
    border-radius: 10%;
}

.dessert_cuadro_list{
    width: 40%;
    height: 350px;
    right: 10%;
    top: 30%;
    padding: 5px;
    /* background-color: var(--rosaMedio); */
    position: absolute;
    border-radius: 10%;
}

.dessert_cuadro_list ul::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    border-radius: 10px; 
    height: 30%;
}

.dessert_cuadro_list ul::-webkit-scrollbar-thumb {
    background-color: var(--rosaMedio); /* Color del "pulgar" de la barra de desplazamiento */
    border-radius: 6px; /* Borde redondeado del "pulgar" */
}

.dessert_cuadro_list ul::-webkit-scrollbar-thumb:hover {
background-color: var(--lila); /* Cambio de color al pasar el mouse por encima */
}

.dessert_form{
    margin-top: 0rem;
    margin-left: 2rem;
}

.dessert_form h1{
    color: var(--lila);
    font-size: 4rem;
    margin-bottom: 2rem;
}

.dessert_form p{
    color: var(--rosaMedio);
    font-weight: 600;
    /* margin-top: 3rem; */
}

.form_dessert{
    margin-top: 1rem;
}

.form_input{
    border-radius: 10px;
    /* border-color: var(--lila); */
    background-color: var(--dark);
    padding: 2px 5px 2px 5px;
    margin-top: 1rem;
    color: var(--lila);
    font-weight: bold;
    opacity: .8;
}

.form_input:focus{
    outline: none;
}

/* CUP CAKE */

.box-canvas{
    position: absolute;
    left: 80%;
    top: 53%;
    z-index: 2;
    width: 70px;
    height: 90px;
    cursor: pointer;
}

.wrapper{
    position: absolute;
    top: 3rem;
    background: repeating-linear-gradient(to right, var(--lila), var(--rosaClaro) 7px, var(--lila) 9px);
    width: 60px;
    height: 40px;
    clip-path: polygon(15% 100%, 84% 100%, 100% 0, 0 0);
}
    
    
.topping{
    position: absolute;
    top:1.8rem;
    left: -.8rem;
    width: 90px;
    height: 40px;
    overflow: hidden;
}
    
.topping::before{
    content: '';
    position: absolute;
    width: 45px;
    height: 30px;
    border-radius: 50% 0 0 50%;
    transform: skew(10deg, 5deg);
    border-bottom: 5px solid var(--rosaMedio);
    background-color: var(--rosaClaro);

}
    
.topping::after{
    content: '';
    position: absolute;
    width: 45px;
    height: 30px;
    left: 40px;
    border-radius: 0 50% 50% 0;
    /* background-color: red; */
    border-bottom: 5px solid var(--rosaMedio);
    transform: skew(-10deg, -5deg);
    background-color: var(--rosaClaro);

}

.topping-middle{
    position: absolute;
    top: 18px;
    left: -1px;
    width: 70px;
    height: 30px;
    overflow: hidden;
}

.topping-middle::before{
    content: '';
    position: absolute;
    width: 38px;
    height: 30px;
    border-radius: 50% 0 0 50%;
    border-bottom: 5px solid var(--rosaMedio);
    transform: skew(10deg, 5deg);
    background-color: var(--rosaClaro);
}

.topping-middle::after{
    content: '';
    position: absolute;
    width: 38px;
    height: 30px;
    left: 25px;
    border-radius: 0 50% 50% 0;
    border-bottom: 5px solid var(--rosaMedio);
    transform: skew(-10deg, -5deg);
    background-color: var(--rosaClaro);
}

.topping-top{
    position: absolute;
    top: 8px;
    width: 90px;
    height: 30px;
    overflow: hidden;
}

.topping-top::before{
    content: '';
    position: absolute;
    left: 10px;
    width: 25px;
    height: 20px;
    border-radius: 50% 0 0 50%;
    border-bottom: 5px solid var(--rosaMedio);
    transform: skew(10deg, 5deg);
    background-color: var(--rosaClaro);

}

.topping-top::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 20px;
    left: 25px;
    border-radius: 0 50% 50% 0;
    border-bottom: 5px solid var(--rosaMedio);
    transform: skew(-10deg, -5deg);
    background-color: var(--rosaClaro);

}

.cherry{
    position: absolute;
    left: 25px;
    top: -20px;
    transform: rotate(-10deg);
    height: 0;
    width: 0;
    border-left: 3px solid transparent;
    border-right: 5px solid transparent;
    border-top: 18px solid var(--vino);
}

.cherry::before{
    content: '';
    position: absolute;
    left: -20px;
    left: -8px;
    background: red;
    width: 10px;
    height: 15px;
    border-radius: 50% 30% 0 50%;
}

.cherry::after{
    content: '';
    position: absolute;
    top: -2px;
    background: red;
    width: 10px;
    height: 15px;
    border-radius: 30% 50% 50% 0;
}

/* CUP CAKE */

.add{
    position: absolute;
    color: black !important;
    font-weight: bold;
    font-size: small;
    z-index: 100;
    width: 70px;
    left: -8%;
    top: 13%;
    text-align: center;
    cursor: pointer;
}

.dessert_cuadro_list ul{
    color: var(--lila);
    margin-right: 5px;
    font-size: 1.5rem;
}

.list_dessert{
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.buttons_edit{
    display: flex;
    justify-content: space-evenly;
    margin-top: .2rem;
}

.input_edit{
    border-radius: 10px;
    border-color: var(--lila);
    padding: 2px 5px 2px 5px;
    width: 120px;
    color: var(--lila);
    font-weight: bold;
}

.input_edit:focus {
    outline: none;
}

.button_options{
    margin-left: 8%;
}

.button_edit{
    width: 45px;
    border-radius: 8px;
    background-color: var(--lila);
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
}

.button_edit:active {
    transform: translateY(4px);
}

.button_delete{
    width: 50px;
    border-radius: 8px;
    background-color: var(--rosaMedio);
    border: none;
    font-size: small;
    font-weight: bold;
    color: white;
}

.button_delete:active {
    transform: translateY(4px);
}

.button_save{
    width: 50px;
    border-radius: 8px;
    background-color: var(--lila);
    border: none;
    font-size: small;
    font-weight: bold;
    color: white;
}

.button_save:active {
    transform: translateY(4px);
}

.button_cancel{
    width: 50px;
    border-radius: 8px;
    background-color: var(--rosaMedio);
    border: none;
    font-size: small;
    font-weight: bold;
    color: white;
}

.button_cancel:active {
    transform: translateY(4px);
}

.box-canvas:active{
    transform: translateY(4px);
}

.add:active{
    transform: translateY(4px);
}

/* Media querys */

@media (min-width: 1200px){

}

/*TELÉFONO CELULAR LG*/
@media (max-width: 1199px) and (min-width: 992px){
  
}

/*TELÉFONO CELULAR MD*/
@media (max-width: 991px) and (min-width: 768px){
   
}

/*TELÉFONO CELULAR SM*/
@media(max-width: 767px) and (min-width: 576px){
    
}

/*TELÉFONO CELULAR XS*/
@media (max-width: 575px){

}