:root{
    --color-rosaObscuro: #F5AEC3;
    --rosaClaro: #ffe4e1;
    --lila:#b0c2f2;
    --crema:#F6F2EC;
    --rosaMedio: #F8CBD1;
    --color-dark: rgba(0, 0, 0, 0.87); 
    --vino: rgb(151,12,24);
}
